services:
  purefin.backend:
    image: purefin.backend
    build:
      context: .
      dockerfile: PureFin.Backend/Dockerfile
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: purefin_simulation
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

